{% extends "base.html" %}

{% block title %}Attendance{% endblock %}

{% block content %}
<h1>Attendance Records</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="bg-light">User</th>
            <th class="bg-light">Date</th>
            <th class="bg-ligth">Status</th>
        </tr>
    </thead>

    <tbody>
        {% for record in records %}
        <tr>
            <td class="bg-light">{{ record.user_id }}</td>
            <td class="bg-light">{{ record.date }}</td>
            <td class="bg-light">{{ record.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}