{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<h1>All Users</h1>

<ul class="list-group">
    {% for user in users %}
        <li class="list-group-item bg-light d-flex justify-content-between align-items-center">
            <span>{{ user.id }} - {{ user.name}}</span>
            <div>
                <a href="/mark/{{ user.id }}/Present" class="btn btn-sm btn-success me-2">Mark Present</a>
                <a href="/mark/{{ user.id }}/Absent" class="btn btn-sm btn-danger">Mark Absent</a>
            </div>
        </li>
    {% endfor %}
</ul>

<form action="/add_user" method="POST" class="p-3 mt-4 mb-4 bg-light rounded">
    <div class="mb-3">
        <label for="name" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter a student name" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Student</button>
</form>
{% endblock %}