{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<!-- Page heading -->
 <h1 class="mb-4">Users</h1>

<!-- Admin add user form -->
<form action="{{ url_for('users.admin_submit_user') }}" method="POST" class="mb-4">
    <input name="first_name" class="form-control mb-2" placeholder="First Name" required>
    <input name="surname" class="form-control mb-2" placeholder="Surname" required>
    <input name="date_of_birth" type="date" class="form-control mb-2">

    <button class="btn btn-primary">Add User</button>
</form>


 <!-- Users table -->
  <table class="table table-striped table-bordered">
    <thead class="table-success">
        <tr>
            <th>Name</th>
            <th style="width: 120px;">Actions</th>
        </tr>
    </thead>

    <tbody>
        <!-- Loop through all users -->
         {% for user in users %}
         <tr>
            <td> {{ user.full_name }} </td>
            <td>
                <!-- Delete user form -->
                 {% if session.role == "admin" %}
                 <form action="{{ url_for('delete_user', id=user.id) }}" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                 </form>
                 {% endif %}
            </td>
         </tr>
         {% endfor %}
    </tbody>
  </table>
  {% endblock %}